// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Goudy', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:  #114e7e;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;;
$red: #cc071e;
$orange: #fd7e14;
$yellow: #ffeb3b;
$green: #18381a;
$teal: #20c9a6;
$cyan: #00626e;
